
@font-face {
  font-family: 'Maplestory Bold';
  src: url('./fonts/Maplestory OTF Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Maplestory Light';
  src: url('./fonts/Maplestory OTF Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.maple-story-bold {
  font-family: 'Maplestory Bold', sans-serif;
}

.maple-story {
  font-family: 'Maplestory Light', sans-serif;
}